  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/">CoSieDziejeSie</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          {% if request.user.is_authenticated %}
          <li><a class="nav-link" href="{% url 'create-room' %}">Dodaj wydarzenie</a></li>
          <li><a class="nav-link" href="user.html">Mój profil</a></li>
          <li><a class="nav-link" href="support.html">Support</a></li>
          {% endif %}
          {% if request.user.is_authenticated %} <!-- do poprawy, dostępne tylko dla admina-->
          <li class="dropdown"><a href="#"><span>Panel Admina</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Akceptacja wydarzeń</a></li>
              <li><a href="#">Usunięte wydarzenia</a></li>
              <li><a href="#">Lista użytkowników</a></li>
              <li><a href="#">Wiadomości</a></li>
              <li><a href="#">Logi</a></li>
            </ul>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li><a class="nav-link" href="{% url 'logout'  %}">Wyloguj</a></li>
          {% else %}
          <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->