  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/">CoSieDziejeSie</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          {% if request.user.is_authenticated %}
          <li><a class="nav-link" href="{% url 'create-room' %}">Dodaj wydarzenie</a></li>
          {% endif %}
          <li><a class="nav-link" href="{% url 'history' %}">Minione</a></li>
          {% if request.user.is_authenticated %}
          <li><a class="nav-link" href="{% url 'profile' request.user.id %}">Mój profil</a></li>
          {% endif %}
          {% if not request.user.is_superuser and request.user.is_authenticated %}
          <li><a class="nav-link" href="#">Support</a></li>
          {% endif %}
          {% if request.user.is_superuser %}
          <li class="dropdown"><a href="#"><span>Panel Admina</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'admin:index' %}">Główny</a></li>
              <li><a href="#">Lista użytkowników</a></li>
              <li><a href="#">Wiadomości</a></li>
            </ul>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
            <p>Hello {{request.user}}!</p>
          <li><a class="nav-link" href="{% url 'logout'  %}">Wyloguj</a></li>
          {% else %}
          <li><a class="nav-link" href="{% url 'login_page' %}">Login</a></li>
          {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
         <form method="GET" action="{% url 'home' %}">
          <input type="text" name="q" placeholder="Wyszukaj wydarzenie...">
        </form>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->