{% extends 'main.html' %}
{% load static %}
{% block content %}

    <section id="portfolio" class="portfolio" style="margin-top: 50px">
      <div class="container">
        <div class="section-title">
          <h2>Najbliższe Wydarzenia</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Wszystkie</li>
              {% for topic in topics %}
              <li data-filter=".filter-{{topic.slug}}">{{topic.name}}</li>
              {% endfor %}
              {% if request.user.is_authenticated %}
              <li data-filter=".filter-own">Moje</li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          {% for room in room_list %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{room.topic.slug}}
                      {% if request.user == room.host %}
                      filter-own
                      {% endif %}
          ">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ room.name }}</h4>
                <p>{{ room.date|date:"d.m.y" }}</p>
                <p>{{ room.location }}</p>
                <div class="portfolio-links">
                  <a href="#" title="Weź Udział"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'room' room.id %}" title="Zobacz opis"><i class="bx bx-link"></i></a>
                  {% if request.user == room.host %}
                    <a href="{% url 'update-room' room.id %}" title="Edytuj"><i class="bx bx-edit"></i></a>
                    <a href="{% url 'delete-room' room.id %}" title="Usuń"><i class="bx bx-trash"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

{% endblock content %}